<div class="container  justify-content-center m-auto align-item-center">
<div class="container-custom mt-5 m-auto justify-content-center align-item-center">
    <h1 class="text-center">Sever Ram Usage Pie Chart</h1>
    <img src="<%= imageURI %>" class="img-fluid m-auto ps-5 ms-5" alt="Pie Chart">
</div>
</div>